.resumen{
    background-color:#FBCB7B ;
    font-family: roboto;
    padding: 20px;
}

.buttonOptions{
    display: grid;
    grid-template-columns: 20px 30px 20px 30px 50px;
    grid-gap: 5px;
}
.containerTotal{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    background-color:#FBCB7B ;
}
.containerName{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.titleOrder{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.increase-decrease{
    background-color: #EB5E30;
    height: 20px;
    color: white;
    border: none;
    left: 100px;
}

.delete{
    background-color: #EB5E30;
    height: 20px;
    color: white;
    border: none;

}